body{
    background-color: black;
}
/*The text alignment*/
.center-align{
    text-align: center;
}
.right-align{
    text-align: right;
}
.left-align {
    text-align: left;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.botton-align {
    position: absolute;
    bottom: 200px;
    left: 200px;
}
/*Image alignment*/
.right-image-align{
    float: right;
}
.left-image-align{
    float:left;
    padding-right: 50px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
/*The text color*/
.text-white{
    color: white;
}
.text-blue{
    color:blueviolet
}
/*button*/
button:hover {
    background-color: green;
}
.half-screen-pic {
    width: 100%; 
    height: 50%; 
 }
.average-size-image{
    width: 40%;
    height: 70%;
}
.large-size-image{
    width: 80%;
    height: 50%;
}
    